.navbar-brand {
	color: #fff;
	font-size: 19px;
	font-weight: 900;
	font-variant: all-small-caps;
	font-variant: small-caps;
}

.-content-noticias {
	margin-bottom: 10px;
	display: flex;
	flex-flow: column;
	border: 1px solid black;
	border-radius: 6px;
	padding: 13px;
}

.body-noticia {
	padding: 0px 90px;
	margin-bottom: 16px;
}
.title-noticia{
	margin-top: 30px;
	font-weight: 700;
    font-size: 20px;
}
.descricao-noticia{
	/*top, sides, bottom  */
    margin: 4px 0px 30px;
	color: red;
    font-weight: 500;
}

#titleLastNews {
	font-size: 22px;
	font-weight: bold;
	color: white;
	background-color: red;
	height: 60px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 16px 0px;
}

.content-toggles {
	display: flex;
	align-self: flex-end;
	margin-bottom: 16px;
}

#labelVerComentarios:hover {
	cursor: pointer;
	text-decoration: underline;
}

.container-comentario {
	flex-flow: column;
	display: grid;
	align-self: start;
	grid-gap: 8px;
	padding: 16px;
	width: 100%;
}

.-container-user {
	display: flex;
}

.-container-user:nth-child(even) {
	background-color: aliceblue;
}

.icon-user {
	width: 45px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	border: 1px solid;
	border-radius: 4px;
	margin-right: 3px;
}

.-comentario__text {
	margin-top: -3px;
}

#labelVerComentarios {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.empty-comment {
	text-align: center;
}

.-spanIdComment{
	font-size: 12px;
    font-weight: 500;
    margin-left: 3px;
}

